body {
  width: 100%;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background: #ffffffe3;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: flex-start;
  height: 800px;
}

.box {
  height: 100px;
  flex: 0 0 140px;
}

.one {
  background: rgb(245, 6, 205);
}

.two {
  background: blue;
}

.three {
  background: greenyellow;
}
