p{
    
    padding: 20px;
    border: 5px solid greenyellow;
    background:orangered;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.4em;

}