@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", Thin100italic;
  /* border: 3px red solid; */
}

h1 {
  font-size: 40px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 20px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

a img.logo-1 {
  width: 75px;
}

#header h4 {
  font-size: 28px;
  font-family: sans-serif;
}
/* Header start   */

#header {
  display: flex;
  align-items: center;
  justify-content: normal;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: black;
  transition: 0.5s ease;
  font-family: inherit;
}

#navbar li a:hover {
  color: black;
}

#navbar li a {
  display: inline-block;
  position: relative;
  color: black;
}

#navbar li a::after {
  content: "";
  position: absolute;
  width: 125%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: cornflowerblue;
  transform-origin: bottom right;
  transition: transform 0.2s ease;
}

#navbar li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.get-started-btn {
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #50e6ff;
  color: #000;
  border: 0.125rem solid transparent;
  border-radius: 0.125rem;
  padding: 0.625rem 0.75rem;
  width: 150px;
}

input#labelone {
  width: 204px;
  height: 65px;
  background-color: lightsteelblue;
  font-size: 25px;
  text-align: center;
  font-family: fantasy;
  border-color: black;
}

section#head-1 {
  position: relative;
  top: 170px;
  z-index: 2;
  left: 130px;
  width: 816px;
}

section#head-1 p {
  width: 673px;
  font-size: 20px;
  color: aliceblue;
}
section#head-1 h1 {
  margin-bottom: 2rem;
  margin-top: 35px;
  color: white;
}

input#labeltwo {
  width: 299px;
  height: 66px;
  background-color: transparent;
  font-size: 25px;
  text-align: center;
  font-family: fantasy;
  position: relative;
  left: 250px;
  bottom: 65px;
  border-color: whitesmoke;
  color: ghostwhite;
  border-width: 5px;
}

div.labels {
  margin-top: 40px;
}

/* homepage */
main.banner-1 img {
  height: 65vh;
  width: 110%;
  position: relative;
  bottom: 381px;
}

div.headline h1 {
  width: 1330px;
  position: relative;
  bottom: 369px;
  left: 251px;
  font-size: 28px;
}

div.fe-box img {
  width: 390px;
}

div.fe-box p {
  width: 444px;

  font-size: 27px;
  color: black;
  position: relative;
  top: 35px;
}

div.fe-box h3 {
  position: relative;
  top: 16px;
  font-size: 26px;
  text-decoration: underline;
  color: slateblue;
}
div.fe-box {
  width: 500px;
  text-align: center;
  padding: 37px 0px 164px;
  position: relative;
  bottom: 324px;
  border: 1px solid white;
  left: 169px;
  box-shadow: 1px 3px 11px 4px #888888;
}

div.fe-box2 img {
  width: 390px;
  position: relative;
  top: 31px;
}

div.fe-box2 p {
  width: 444px;
  font-size: 27px;
  color: black;
  position: relative;
  top: 35px;
}

div.fe-box2 h3 {
  position: relative;
  top: 43px;
  font-size: 26px;
  text-decoration: underline;
  color: slateblue;
  width: 336px;
  left: 50px;
}

div.fe-box2 {
  position: relative;
  left: 724px;
  width: 500px;
  text-align: center;
  bottom: 950px;
  border: 1px solid white;
  box-shadow: 1px 3px 11px 4px #888888;
  padding: 7px 0 164px;
}

div.fe-box3 img {
  width: 390px;
  position: relative;
  left: 55px;
}

div.fe-box3 p {
  width: 444px;
  font-size: 27px;
  color: black;
  position: relative;
  top: 5px;
  left: 50px;
}

div.fe-box3 h3 {
  position: relative;
  top: 15px;
  font-size: 27px;
  text-decoration: underline;
  color: slateblue;
  width: 336px;
  left: 77px;
}

div.fe-box3 {
  position: relative;
  left: 1290px;
  width: 500px;
  bottom: 1575px;
  border: 1px solid white;
  box-shadow: 1px 3px 11px 4px #888888;
  padding: 35px 0 164px;
}

input#labeloverview {
  background-color: transparent;
  color: rgb(19, 19, 233);
  border-color: dodgerblue;
  border-width: 5px;
  position: relative;
  bottom: 64px;
  left: 250px;
  width: 240px;
  height: 65px;
  text-align: center;
  font-weight: 800;
  font-family: ui-monospace;
  font-size: 24px;
}

section.label-2 h4 {
  width: 160px;
  font-size: 25px;
  left: 50px;
  position: relative;
  bottom: 16px;
}

section.label-2 {
  position: relative;
  bottom: 1375px;
  left: 659px;
  width: 80px;
}

section.label-2 h3 {
  position: relative;
  right: 170px;
  font-size: 30px;
  width: 1212px;
  top: 65px;
}
----------------------------------------
  /* #sub-boxes.img-1 {
    width: 40%;
    min-width: 250px;
    padding: 50px 20px;
    border: 3px solid rgb(190, 190, 190);
  }

  div.img-1 {
    position: relative;
    bottom: 1170px;
    left: 430px;
    width: 270px;
  }

  div.img-1 {
    position: relative;
    left: 450px;
    width: 333px;
    bottom: 1210px;
    border: 3px solid rgb(243, 243, 243);
    padding: 100px 10px 109px;
    box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
    border-radius: 10px;
  }

  div.img-1 img {
    position: relative;
    width: 70px;
    left: 125px;
    bottom: 55px;
  }

  div.ptag p {
    font-size: 30px;
    width: 300px;
    position: relative;
    bottom: 35px;
    color: black;
    font-family: ui-monospace;
  }

  div.ptag h3 {
    font-size: 26px;
    color: cornflowerblue;
    text-decoration: underline;
    position: relative;
    left: 30px;
    bottom: -25px;
  } */
  /* 
  #sub-boxes {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
  } */
  -------------------------------------------



  .box-1 {
  width: 269px;
  min-height: 350px;
}

.box-a {
  border-radius: 10px;
  border: 3px solid rgb(243, 243, 243);
  padding: 80px 10px 48px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
}

.box-b {
  border-radius: 10px;
  border: 3px solid rgb(243, 243, 243);
  padding: 100px 10px 109px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
}

.box-c {
  border-radius: 10px;
  border: 3px solid rgb(243, 243, 243);
  padding: 100px 10px 109px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
}

.box-d {
  border-radius: 10px;
  border: 3px solid rgb(243, 243, 243);
  padding: 100px 10px 109px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
}

.box-e {
  border: 3px solid rgb(243, 243, 243);
  padding: 100px 10px 109px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
  border-radius: 10px;
}

.box-f {
  border: 3px solid rgb(243, 243, 243);
  padding: 100px 10px 109px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
  border-radius: 10px;
}

div.secion-container1 {
  position: relative;
  right: 430px;
}

div.secion-container2 {
  position: relative;
  left: 77px;
  bottom: 560px;
}

div.box-1.box-a {
  position: relative;
  bottom: 1200px;
  left: 280px;
  width: 335px;
}

div.box-2.box-b {
  width: 325px;
  height: 359px;
  position: relative;
  bottom: 1560px;
  left: 665px;
}

div.box-3.box-c {
  position: relative;
  bottom: 1917px;
  height: 359px;
  width: 325px;
  left: 1045px;
}

div.secion-container1 {
  position: relative;
  left: 275px;
  bottom: 560px;
}

div.img-2 img {
  width: 75px;
  position: relative;
  left: 115px;
  bottom: 50px;
}

div.img-1 img {
  width: 70px;
  position: relative;
  left: 120px;
  bottom: 30px;
}

div.img-3 img {
  width: 80px;
  position: relative;
  left: 115px;
  bottom: 45px;
}

div.ptag p {
  font-size: 26px;
  position: relative;
  bottom: 50px;
  font-family: sans-serif;
}

div.ptag h3 {
  font-size: 25px;
  position: relative;
  left: 15px;
  bottom: 45px;
  color: cornflowerblue;
  text-decoration: underline;
}

div.box-4.box-d {
  width: 335px;
  height: 480px;
  position: relative;
  left: 480px;
  bottom: 1817px;
}

div.box-5.box-e {
  width: 326px;
  position: relative;
  bottom: 2297px;
  left: 868px;
  height: 478px;
}

div.box-6.box-f {
  width: 325px;
  position: relative;
  bottom: 2774px;
  left: 1246px;
  height: 476px;
}

div.ptag1 h3 {
  font-size: 25px;
  color: cornflowerblue;
  position: relative;
  top: 47px;
  left: 26px;
  text-decoration: underline;
}

div.ptag1 p {
  font-size: 26px;
  position: relative;
  top: 20px;
  font-family: sans-serif;
}

div.img-4 img {
  width: 75px;
  position: relative;
  left: 120px;
  bottom: 20px;
}

div.img-5 img {
  width: 75px;
  position: relative;
  left: 105px;
  bottom: 25px;
}

div.img-6 img {
  width: 75px;
  position: relative;
  left: 110px;
  bottom: 29px;
}

section.sidebar {
  font-size: 26px;
  position: relative;
  bottom: 970px;
  left: 50px;
  display: block;
}

section.sidebar li:hover {
  background-color: rgb(233, 233, 233);
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}

section.sidebar li {
  margin-bottom: 70px;
  list-style-type: none;
  font-family: monospace;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

.logo {
  height: 100px;
  min-width: 300px;
  position: relative;
  bottom: 3000px;
  left: 300px;
}

.two {
  position: relative;
  left: 370px;
}

div.logo.one img {
  width: 275px;
}

div.logo.two img {
  width: 40px;
}

div.logo.three img {
  width: 245px;
}

div.logo.four img {
  width: 230px;
}

div.logo.five img {
  width: 255px;
}

div.banner-2 img {
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;
  position: relative;
  bottom: 2939px;
}

div.logo-head h3 {
  width: 780px;
  position: relative;
  font-size: 31px;
  bottom: 3120px;
  left: 615px;
}

div.leftspace {
  position: relative;
  bottom: 3251px;
  left: 60px;
  width: 920px;
  padding: 35px;
  background-color: black;
}

div.leftspace p {
  font-size: 35px;
  width: 750px;
  color: white;
  font-family: math;
}

div.leftspace h4 {
  width: 170px;
  font-size: 25px;
  color: cornflowerblue;
}

div.homeimg img {
  position: relative;
  bottom: 3010px;
  left: 195px;
  width: 35%;
  height: 48vh;
}

div.homeimg h2 {
  position: relative;
  bottom: 3350px;
  font-size: 40px;
  width: 600px;
  left: 930px;
}

input#label-acc {
  position: relative;
  bottom: 3300px;
  left: 1000px;
  width: 260px;
  height: 68px;
  text-align: center;
  border-color: black;
  border-width: 4px;
  font-size: 20px;
  font-weight: 600;
  font-family: system-ui;
}

div.heading-discover h3 {
  width: 685px;

  position: relative;
  font-size: 36px;
  bottom: 3100px;
  left: 700px;
  font-family: system-ui;
}

section#discover-boxes {
  width: 650px;
  position: relative;
  bottom: 2990px;
  left: 310px;
}

div.discover-01 img {
  width: 430px;
  position: relative;
  right: 213px;
  bottom: 19px;
}

div.discover-01 h4 {
  font-size: 28px;
  position: relative;
  top: 20px;
  left: -174px;
  width: 150px;
}

div.discover-01 p {
  font-size: 26px;
  width: 400px;
  position: relative;
  left: -194px;
  color: #222;
  top: 40px;
  font-weight: 400;
  font-family: system-ui;
}
div.discover-01 a {
  font-size: 22px;
  position: relative;
  left: -170px;
  top: 70px;
  width: 150px;
  display: flex;
  font-size: 25px;
  font-weight: 600;
}

div.discover-01 {
  width: 66%;
  border: 2px solid rgb(243, 243, 243);
  padding: 20px 210px 140px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
  border-radius: 0px;
}

section#microsoft-box {
  position: relative;
  bottom: 3588px;
  left: 795px;
  width: 700px;
}

div.microsoft-AI img {
  width: 430px;
  position: relative;
  right: 208px;
  bottom: 20px;
}

div.microsoft-AI h4 {
  position: relative;
  width: 300px;
  font-size: 28px;
  right: 170px;
  top: 20px;
}

div.microsoft-AI p {
  font-size: 24px;
  width: 400px;
  position: relative;

  left: -194px;
  color: #222;
  top: 40px;
  font-weight: 400;
  font-family: system-ui;
}

div.microsoft-AI a {
  font-size: 24px;
  position: relative;
  width: 250px;
  top: 53px;
  display: flex;
  font-weight: 600;
  right: 148px;
}

div.microsoft-AI {
  width: 62%;
  border: 2px solid rgb(243, 243, 243);
  padding: 20px 210px 121px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
}

section#Azure-deployment {
  width: 700px;
  position: relative;
  bottom: 4187px;
  left: 1270px;
}

div.deployment-box img {
  width: 432px;
  position: relative;
  bottom: 20px;
  right: 209px;
}

div.deployment-box h4 {
  width: 300px;
  position: relative;
  right: 170px;
  font-size: 26px;
  top: 20px;
}

div.deployment-box p {
  width: 400px;
  font-size: 24px;
  color: #222;
  font-weight: 400;
  font-family: system-ui;
  position: relative;
  right: 190px;
  top: 40px;
}

div.deployment-box a {
  width: 250px;
  font-size: 24px;
  display: flex;
  position: relative;
  top: 78px;
  right: 160px;
  font-weight: 600;
}

div.deployment-box {
  width: 62%;
  border: 2px solid rgb(243, 243, 243);
  padding: 20px 210px 147px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
}

section#Github-security {
  width: 700px;
  position: relative;
  bottom: 4075px;
  left: 305px;
}

div.github-box img {
  position: relative;
  width: 425px;
  right: 208px;
  bottom: 10px;
}

div.github-box h4 {
  width: 350px;
  font-size: 28px;
  position: relative;
  left: -170px;
  top: 30px;
}

div.github-box p {
  font-size: 24px;
  width: 400px;
  color: #222;
  font-weight: 500;
  font-family: system-ui;
  position: relative;
  top: 50px;
  left: -170px;
}

div.github-box a {
  position: relative;
  width: 250px;
  display: flex;
  font-size: 24px;
  font-weight: 600;
  left: -140px;
  top: 70px;
}

div.github-box {
  border: 2px solid rgb(243, 243, 243);
  width: 66%;
  padding: 20px 210px 146px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
}

section#global-infra {
  width: 665px;
  position: relative;
  bottom: 4668px;
  left: 800px;
}

div.global-box img {
  position: relative;
  width: 440px;
  bottom: 22px;
  right: 212px;
}

div.global-box h4 {
  width: 350px;
  font-size: 28px;
  position: relative;
  top: 25px;
  right: 170px;
}

div.global-box p {
  font-size: 24px;
  width: 400px;
  color: #222;
  font-weight: 500;
  font-family: system-ui;
  position: relative;
  top: 50px;
  left: -175px;
}

div.global-box a {
  font-weight: 600;
  width: 250px;
  display: flex;
  font-size: 24px;
  position: relative;
  top: 98px;
  left: -140px;
}

div.global-box {
  border: 2px solid rgb(243, 243, 243);
  width: 66%;
  padding: 20px 210px 172px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
}

section#Machine-learn {
  position: relative;
  bottom: 5273px;
  left: 1275px;
  width: 300px;
}

div.machine-box img {
  width: 425px;
  position: relative;
  right: 213px;
  bottom: 20px;
}

div.machine-box h4 {
  width: 350px;
  font-size: 28px;
  position: relative;
  top: 30px;
  left: -170px;
  font-weight: 600;
}

div.machine-box p {
  font-size: 24px;
  width: 400px;
  color: #222;
  font-weight: 500;
  font-family: system-ui;
  position: relative;
  top: 45px;
  left: -200px;
}

div.machine-box a {
  font-size: 24px;
  font-weight: 600;
  width: 250px;
  display: flex;
  position: relative;
  top: 80px;
  left: -140px;
}

div.machine-box {
  border: 2px solid rgb(243, 243, 243);
  width: 26%;
  padding: 23px 210px 153px;
  box-shadow: 1px 3px 3px 3px rgb(216, 216, 216);
}

div.develop-box img {
  height: 60vh;
  width: 108%;
  background-position: center;
  position: relative;
  bottom: 5146px;
}

div.story-box {
  position: relative;
  bottom: 5530px;
  background-color: #000;
  margin: 10px 20px;
  padding: 60px 20px;
  width: 1030px;
  color: white;
}

div.story-box p {
  font-size: 28px;
  font-family: monospace;
  position: relative;
  bottom: 25px;
  color: white;
}

div.story-box h3 {
  position: absolute;
  left: 400px;
  bottom: 85px;
  font-size: 26px;
  color: aqua;
}

div.story-box h4 {
  background-color: slateblue;
  padding: 20px 25px;
  width: 325px;
  color: white;
  font-weight: 600;
  font-size: 25px;
  border-radius: 5px;
}

div.cont-1 img {
  width: 70px;
  position: relative;
  right: 210px;
  bottom: 130px;
}

div.cont-1 {
  position: relative;
  bottom: 5320px;
  width: 200px;
  left: 130px;
  padding: 145px 240px;
  background-color: #243a5e;
  border-radius: 20px;
}

div.cont-1 h3 {
  font-size: 27px;
  width: 370px;
  position: relative;
  top: -100px;
  right: 190px;
  color: white;
  text-decoration: underline;
}

div.cont-1 p {
  width: 400px;
  font-size: 20px;
  position: absolute;
  top: 175px;
  font-family: system-ui;
  line-height: 40px;
  right: 25px;
  color: white;
}

div.cont-2 {
  position: relative;
  bottom: 5715px;
  left: 680px;
  padding: 106px 240px;
  background-color: black;
  width: 200px;
  border-radius: 20px;
}

div.cont-2 h3 {
  color: white;
  width: 390px;
  position: absolute;
  right: 35px;
  font-size: 27px;
  text-decoration: underline;
  top: 125px;
}

div.cont-2 p {
  width: 430px;
  font-size: 20px;
  position: relative;
  font-family: system-ui;
  color: white;
  right: 175px;
  bottom: 12px;
  line-height: 40px;
}

div.cont-2 img {
  position: relative;
  right: 200px;
  top: -90px;
}

div.cont-3 {
  position: relative;
  bottom: 6108px;
  left: 1230px;
  width: 200px;
  padding: 101px 232px;
  background-color: #0062ad;
  border-radius: 15px;
}

div.cont-3 img {
  position: relative;
  width: 55px;
  right: 205px;
  bottom: 95px;
}

div.cont-3 h3 {
  color: white;
  width: 390px;
  position: absolute;
  text-decoration: underline;
  right: 50px;
  bottom: 238px;
  font-size: 27px;
}

div.cont-3 p {
  width: 430px;
  font-size: 20px;
  position: relative;
  color: white;
  right: 200px;
  font-family: system-ui;
  line-height: 40px;
}

@media screen and (max-width: 800px) {
  ul#navbar li a {
    font-size: 14px;
    margin: 0;
  }

  section#header h4 {
    font-size: 18px;
    margin: 10px;
  }

  a img.logo-1 {
    width: 30px;
  }

  main.banner-1 img {
    height: 29vh;
    width: 100%;
  }

  section#head-1 {
    position: relative;
    bottom: 300px;
    z-index: 1;
  }

  div.box-1.box-a {
    width: 20px;
    font-size: 20px;
    padding-top: 6rem;
  }
}

@media screen and (max-width: 1150px) {
  main.banner-1 img {
    height: 55vh;
    width: 100%;
  }

  section#head-1 {
    position: relative;
    bottom: 300px;
    z-index: 1;
  }

  section#head-1 h4 {
    font-size: 14px;
    position: relative;
    bottom: 80px;
  }

  section#head-1 h1 {
    font-size: 26px;
    position: relative;
    bottom: 105px;
  }

  section#head-1 p {
    width: 400px;
    position: relative;
    bottom: 125px;
  }

  div.labels {
    margin-top: -40px;
  }

  input#labelone {
    width: 160px;
    height: 45px;
    position: relative;
    bottom: 75px;
  }

  input#labeltwo {
    width: 210px;
    height: 55px;
    left: 215px;
    position: relative;
    bottom: 130px;
  }

  div.fe-box {
    width: 290px;
    text-align: center;
    padding: 2px 0px 0px;
    position: relative;
    bottom: 324px;
    border: 1px solid white;
    left: 8px;
    box-shadow: 1px 3px 11px 4px #888888;
  }

  div.fe-box img {
    width: 280px;
  }

  div.fe-box p {
    width: 275px;
    font-size: 27px;
    color: black;
    position: relative;
    top: 10px;
  }

  div.fe-box2 {
    width: 290px;
    text-align: center;
    padding: 15px 0px 40px;
    position: relative;
    bottom: 795px;
    border: 1px solid white;
    left: 322px;
    box-shadow: 1px 3px 11px 4px #888888;
  }

  div.fe-box2 img {
    width: 286px;
    position: relative;
    top: -11px;
  }

  div.fe-box2 h3 {
    position: relative;
    top: 2px;
    font-size: 26px;
    text-decoration: underline;
    color: slateblue;
    width: 250px;
    left: 18px;
  }

  div.fe-box2 p {
    width: 287px;
    font-size: 22px;
    color: black;
    position: relative;
    top: -14px;
    right: 0;
  }

  div.fe-box3 {
    width: 290px;
    height: 500px;
    position: relative;
    top: -1265px;
    left: 631px;
  }

  div.fe-box3 img {
    width: 280px;
    position: relative;
    left: 3px;
    bottom: 30px;
  }

  div.fe-box3 h3 {
    font-size: 26px;
    width: 20px;
    top: -20px;
    position: relative;
    left: 25px;
  }

  div.fe-box3 p {
    width: 290px;
    font-size: 24px;
    position: relative;
    left: 18px;
    top: -10px;
  }

  div.headline h1 {
    width: 950px;
    font-size: 20px;
    position: relative;
    left: 30px;
  }

  section.label-2 h4 {
    font-size: 20px;
    position: relative;
    top: 250px;
    left: -555px;
  }

  input#labeloverview {
    font-size: 20px;
    width: 165px;
    position: relative;
    left: -315px;
    top: 210px;
  }

  section.label-2 h3 {
    font-size: 20px;
    position: relative;
    left: -520px;
  }

  section.sidebar {
    position: relative;

    top: -43px;
  }

  div.box-1.box-a {
    position: relative;
    left: -190px;
    width: 205px;
    height: 275px;
    margin-bottom: 650px;
    bottom: 550px;
  }

  div.ptag p {
    font-size: 18px;
    position: relative;
  }

  div.img-1 img {
    width: 40px;
    position: relative;
    bottom: 50px;
    left: 70px;
  }

  div.box-2.box-b {
    position: relative;
    width: 205px;
    left: 90px;
    height: 275px;
    bottom: 1475px;
  }

  div.img-2 img {
    width: 45px;
    position: relative;
    left: 65px;
    bottom: 70px;
  }

  div.img-2 div.ptag p {
    position: relative;
    bottom: 75px;
  }

  div.img-2 div.ptag h3 {
    position: relative;
    bottom: 90px;
  }

  div.box-3.box-c {
    position: relative;
    width: 205px;
    left: 360px;
    height: 275px;
    bottom: 1750px;
  }

  div.img-3 img {
    width: 45px;
    position: relative;
    left: 65px;
    bottom: 70px;
  }

  div.img-3 div.ptag p {
    position: relative;
    bottom: 75px;
  }

  div.img-3 div.ptag h3 {
    position: relative;
    bottom: 55px;
  }
  div.box-4.box-d {
    position: relative;
    left: 5px;
    width: 205px;
    height: 275px;
    bottom: 1620px;
    margin-bottom: 80px;
  }

  div.img-4 img {
    width: 45px;
    position: relative;
    left: 65px;
    bottom: 70px;
  }

  div.img-4 div.ptag1 p {
    position: relative;
    top: -70px;
    font-size: 18px;
  }

  div.img-4 div.ptag1 h3 {
    position: relative;
    top: -70px;
    left: 8px;
  }
  div.box-5.box-e {
    position: relative;
    width: 205px;
    left: 287px;
    height: 275px;
    bottom: 1975px;
  }

  div.img-5 img {
    width: 45px;
    position: relative;
    left: 65px;
    bottom: 70px;
  }

  div.img-5 div.ptag1 p {
    position: relative;
    top: -70px;
    font-size: 18px;
  }

  div.img-5 div.ptag1 h3 {
    position: relative;
    top: -65px;
    left: 5px;
  }
  div.logo-head h3 {
    font-size: 20px;
    position: relative;
    margin-top: 220px;
    width: 30px;
    left: 117px;
    top: -2895px;
  }

  div.logo.one img {
    width: 150px;
    position: relative;
    bottom: 100px;
  }

  div.logo.two img {
    width: 25px;
    position: relative;
    left: -105px;
    bottom: 100px;
  }

  div.logo.three img {
    width: 150px;
    position: relative;
    left: -190px;
    bottom: 100px;
  }

  div.logo.four img {
    width: 140px;
    position: relative;
    right: 810px;
    top: 25px;
  }

  div.logo.five img {
    width: 150px;
    position: relative;
    right: 910px;
    top: 40px;
  }

  div.leftspace {
    width: 750px;
    position: relative;
    bottom: 3120px;
  }

  div.leftspace p {
    font-size: 20px;
    width: 470px;
  }

  div.banner-2 img {
    height: 50vh;
    position: relative;
    bottom: 2780px;
  }

  div.box-6.box-f {
    height: 275px;
    width: 205px;
    position: relative;
    bottom: 2245px;
    left: 560px;
  }

  div.img-6 img {
    width: 45px;
    position: relative;
    left: 70px;
    bottom: 85px;
  }

  div.img-6 div.ptag1 p {
    font-size: 18px;
    position: relative;
    top: -80px;
  }

  div.img-6 div.ptag1 h3 {
    position: relative;
    top: -90px;
    width: 255px;
    left: -10px;
  }

  div.homeimg img {
    position: relative;
    bottom: 2920px;
    height: 220px;
    width: 200px;
    left: 80px;
  }

  div.homeimg h2 {
    margin-bottom: 270px;
    top: -3150px;
    position: relative;
    left: 350px;
    font-size: 25px;
    width: 486px;
    line-height: 35px;
  }

  input#label-acc {
    width: 200px;
    font-size: 15px;
    height: 35px;
    position: relative;
    left: 360px;
    bottom: 3376px;
  }

  div.heading-discover h3 {
    font-size: 25px;
    left: 230px;
    bottom: 3265px;
  }

  div.deployment-box {
    padding: 125px 21px 0px;
    width: 252px;
    position: relative;
    right: 665px;
    bottom: -45px;
  }
  div.deployment-box img {
    width: 245px;
    position: relative;
    left: -19px;
    bottom: 125px;
  }

  div.deployment-box h4 {
    font-size: 20px;
    position: relative;
    top: -100px;
    left: 0px;
  }

  div.deployment-box p {
    font-size: 20px;
    width: 220px;
    position: relative;
    top: -100px;
    left: -5px;
  }

  div.deployment-box a {
    position: relative;
    left: 5px;
    top: -35px;
  }

  div.microsoft-AI {
    padding: 80px 21px 0px;
    width: 252px;
    position: relative;
    right: 460px;
    bottom: 73px;
  }
  div.microsoft-AI img {
    width: 245px;
    position: relative;
    left: -19px;
    bottom: 80px;
  }

  div.microsoft-AI h4 {
    font-size: 20px;
    position: relative;
    top: -50px;
    left: 0px;
  }

  div.microsoft-AI p {
    font-size: 20px;
    width: 220px;
    position: relative;
    top: -55px;
    left: -5px;
  }

  div.microsoft-AI a {
    position: relative;
    left: 5px;
    top: -35px;
  }

  div.discover-01 {
    padding: 92px 20px 10px;
    width: 250px;
    position: relative;
    right: 240px;
    bottom: 190px;
  }

  div.discover-01 img {
    width: 245px;
    position: relative;
    left: -19px;
    bottom: 90px;
  }

  div.discover-01 h4 {
    font-size: 20px;
    position: relative;
    top: -60px;
    left: 0px;
  }

  div.discover-01 p {
    font-size: 20px;
    width: 220px;
    position: relative;
    top: -55px;
    left: -5px;
  }

  div.discover-01 a {
    position: relative;
    left: 5px;
    top: -22px;
  }

  div.github-box {
    padding: 92px 20px 10px;
    width: 250px;
    position: relative;
    right: 236px;
    margin-bottom: 330px;
  }
  div.github-box img {
    width: 245px;
    position: relative;
    left: -19px;
    bottom: 90px;
  }

  div.github-box h4 {
    font-size: 20px;
    position: relative;
    top: -60px;
    left: -12px;
  }

  div.github-box p {
    font-size: 20px;
    width: 220px;
    position: relative;
    top: -55px;
    left: -5px;
  }

  div.github-box a {
    position: relative;
    left: 5px;
    top: -22px;
  }

  div.global-box {
    padding: 101px 21px 0px;
    width: 252px;
    position: relative;
    right: 460px;
    bottom: 172px;
  }
  div.global-box img {
    width: 245px;
    position: relative;
    left: -19px;
    bottom: 100px;
  }

  div.global-box h4 {
    font-size: 20px;
    position: relative;
    top: -69px;
    left: -13px;
  }

  div.global-box p {
    font-size: 20px;
    width: 220px;
    position: relative;
    top: -55px;
    left: -5px;
  }

  div.global-box a {
    position: relative;
    left: 5px;
    top: -35px;
  }

  div.machine-box {
    padding: 105px 21px 0px;
    width: 252px;
    position: relative;
    right: 665px;
    bottom: 2px;
  }

  div.machine-box img {
    width: 245px;
    position: relative;
    left: -19px;
    bottom: 102px;
  }

  div.machine-box h4 {
    font-size: 20px;
    position: relative;
    top: -71px;
    left: 0px;
  }

  div.machine-box p {
    font-size: 20px;
    width: 220px;
    position: relative;
    top: -60px;
    left: -5px;
  }

  div.machine-box a {
    position: relative;
    left: 5px;
    top: -35px;
  }

  div.develop-box img {
    height: 45vh;
    width: 100%;
  }

  div.story-box {
    width: 780px;
    height: 250px;
    position: relative;
    bottom: 5480px;
  }

  div.story-box p {
    font-size: 20px;
    font-family: monospace;
    position: relative;
    bottom: 25px;
    color: white;
    width: 510px;
  }

  div.story-box h4 {
    height: 45px;
    width: 250px;
    font-size: 20px;
    bottom: 10px;
    position: relative;
  }

  div.story-box h3 {
    font-size: 20px;
    position: relative;
    left: 290px;
    top: -45px;
  }

  section.sidebar ul li {
    display: none;
  }

  div.cont-1 {
    padding: 80px 140px;

    position: relative;
    left: 60px;
    bottom: 5280px;
  }

  div.cont-1 h3 {
    font-size: 20px;
    width: 150px;
    position: relative;
    top: -55px;
    left: -110px;
  }

  div.cont-1 img {
    width: 40px;
    position: relative;
    left: -95px;
    top: -70px;
  }

  div.cont-1 p {
    font-size: 15px;
    line-height: 25px;
    width: 240px;
    position: absolute;
    right: 15px;
    top: 110px;
  }

  div.cont-2 {
    padding: 80px 140px;

    position: relative;
    left: 350px;
    bottom: 5530px;
  }

  div.cont-2 h3 {
    font-size: 20px;
    width: 150px;
    position: relative;
    top: -55px;
    left: -110px;
  }

  div.cont-2 img {
    width: 40px;
    position: relative;
    left: -95px;
    top: -70px;
  }

  div.cont-2 p {
    font-size: 15px;
    line-height: 25px;
    width: 240px;
    position: absolute;
    right: 15px;
    top: 110px;
  }
  div.cont-3 {
    padding: 80px 140px;

    position: relative;
    left: 640px;
    bottom: 5795px;
  }

  div.cont-3 h3 {
    font-size: 20px;
    width: 150px;
    position: relative;
    top: -55px;
    left: -110px;
  }

  div.cont-3 img {
    width: 40px;
    position: relative;
    left: -95px;
    top: -70px;
  }

  div.cont-3 p {
    font-size: 15px;
    line-height: 25px;
    width: 240px;
    position: absolute;
    right: 15px;
    top: 145px;
  }
}

@media screen and (max-width: 350px) {
  main.banner-1 img {
    height: 40vh;
    width: 100%;
  }

  section#head-1 h4 {
    width: 30px;
    position: relative;
    right: 120px;
    bottom: 120px;
  }

  section#head-1 h1 {
    width: 24px;
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
    position: relative;
    right: 125px;
  }

  section#head-1 p {
    font-size: 15px;
    margin-bottom: 10px;
    width: 195px;
    position: relative;
    right: 125px;
  }

  input#labelone {
    width: 90px;
    height: 45px;
    font-size: 17px;
    position: relative;
    bottom: 220px;
    left: 85px;
  }

  input#labeltwo {
    position: relative;
    left: 70px;
    height: 55px;
    width: 115px;
    bottom: 200px;
    font-size: 13px;
    color: black;
  }

  div.headline h1 {
    width: 235px;
    font-size: 25px;
    line-height: 40px;
  }

  div.fe-box2 {
    margin-bottom: 1110px;
    top: -300px;
    left: 12px;
  }

  div.fe-box3 {
    position: relative;
    left: 15px;
    top: -1380px;
  }

  section.label-2 h3 {
    width: 175px;
    position: relative;
    top: -50px;
    left: -570px;
    font-size: 27px;
    display: inline-block;
  }

  section.label-2 h4 {
    margin-bottom: -10px;
    top: 275px;
    font-size: 25px;
    color: cornflowerblue;
  }

  input#labeloverview {
    position: relative;
    left: -560px;
    top: 330px;
  }

  div.box-1.box-a {
    margin-bottom: 3335px;
    left: -215px;
  }

  div.box-2.box-b {
    position: relative;
    bottom: 3805px;
    left: -213px;
  }

  div.box-3.box-c {
    position: relative;
    bottom: 3705px;
    left: -213px;
  }

  div.box-4.box-d {
    position: relative;
    bottom: 3605px;
    left: -16px;
  }

  div.box-5.box-e {
    position: relative;
    bottom: 3580px;
    left: -16px;
  }

  div.box-6.box-f {
    position: relative;
    bottom: 3480px;
    left: -16px;
  }

  div.logo-head h3 {
    position: relative;
    top: -4200px;
    width: 95px;
    font-size: 26px;
  }

  div.logo.one img {
    width: 200px;
    position: relative;
    bottom: 1145px;
    right: 250px;
  }

  div.logo.two img {
    position: relative;
    bottom: 1010px;
    left: -535px;
    width: 45px;
  }

  div.logo.three img {
    position: relative;
    bottom: 800px;
    left: -865px;
    width: 230px;
  }

  div.logo.four img {
    position: relative;
    top: -620px;
    right: 1115px;
  }

  div.logo.five img {
    position: relative;
    top: -430px;
    right: 1465px;
    width: 230px;
  }

  div.banner-2 img {
    height: 230px;
    position: relative;
    bottom: 3390px;
  }

  div.leftspace {
    width: 230px;
    height: 105px;
    position: relative;
    bottom: 3545px;
    left: 5px;
  }

  div.leftspace p {
    width: 168px;
    font-size: 12px;
    position: relative;
    bottom: 40px;
    right: 15px;
  }

  div.leftspace h4 {
    font-size: 15px;
    position: relative;
    bottom: 65px;
    left: 35px;
  }

  div.homeimg img {
    position: relative;
    bottom: 3420px;
    height: 100px;
    width: 100px;
    left: 35px;
  }

  div.homeimg h2 {
    top: -3525px;
    position: relative;
    left: 160px;
    width: 135px;
    font-size: 20px;
    line-height: 30px;
  }

  input#label-acc {
    position: relative;
    bottom: 3760px;
    left: 70px;
  }

  div.heading-discover h3 {
    position: relative;
    bottom: 3700px;
    left: 110px;
    width: 80px;
  }

  div.discover-01 {
    position: relative;
    bottom: 660px;
    right: 250px;
    width: 200px;
    height: 485px;
  }

  div.discover-01 img {
    width: 200px;
    position: relative;
    left: -21px;
  }

  div.discover-01 h4 {
    position: relative;
    top: -85px;
  }

  div.discover-01 p {
    width: 130px;
    position: relative;
    top: -85px;
  }

  div.discover-01 a {
    position: relative;
    left: 5px;
    top: -75px;
    font-size: 15px;
  }

  div.microsoft-AI {
    position: relative;
    bottom: 5px;
    right: 735px;
    width: 200px;
    height: 485px;
    margin-bottom: 1315px;
  }

  div.microsoft-AI img {
    width: 200px;
    position: relative;
    left: -21px;
  }

  div.microsoft-AI h4 {
    position: relative;
    top: -75px;
  }

  div.microsoft-AI p {
    width: 130px;
    position: relative;
    top: -85px;
  }

  div.microsoft-AI a {
    position: relative;
    left: 5px;
    top: -75px;
    font-size: 15px;
  }

  div.deployment-box {
    position: relative;
    bottom: 670px;
    right: 1210px;
    width: 200px;
    height: 485px;
    margin-bottom: 1315px;
  }

  div.deployment-box img {
    width: 200px;
    position: relative;
    left: -21px;
  }

  div.deployment-box h4 {
    position: relative;
    top: -110px;
    width: 40px;
  }

  div.deployment-box p {
    width: 130px;
    position: relative;
    top: -85px;
  }

  div.deployment-box a {
    position: relative;
    left: 5px;
    top: -75px;
    font-size: 15px;
  }

  div.github-box {
    position: relative;
    bottom: 2030px;
    right: 245px;
    width: 200px;
    height: 485px;
  }

  div.github-box img {
    width: 200px;
    position: relative;
    left: -21px;
  }

  div.github-box h4 {
    position: relative;
    top: -75px;
    width: 200px;
    font-weight: 600;
  }

  div.github-box p {
    width: 130px;
    position: relative;
    top: -85px;
  }

  div.github-box a {
    position: relative;
    left: 5px;
    top: -75px;
    font-size: 15px;
  }
}
